.number-btn {
    vertical-align: middle;
    font-size: 0.8em;
    padding: 0.3em;
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 3.5em;
    
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.number-btn-change {
    margin-left: -0.2em; /* centering horizontally looks better when adjusted for minus/plus sign */
    font-size: 0.5em;
    color: #555;
}

.number-btn:focus {
    outline: none;
}

.number-btn:disabled .number-btn-change {
    color: #999;
}

.number-btn:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 45%);
    cursor: pointer;
}

.number-btn:hover:disabled {
    cursor: default;
}