.App {
  text-align: center;
  background-color: antiquewhite;
  min-height: 100vh;
  padding-bottom: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: calc(10px + 2vw);
  color: black;
}

.cistercian-number {
  stroke: brown;
  max-width: 50%;
  max-height: 10em;
}

.cistercian-number .highlighted {
  stroke:rgb(224, 56, 56);
}


.number-section {
  box-sizing: border-box;
  margin-top: 1em;
  width: 100%;
  max-width: 29em;
}

.description {
  font-size: 20pt;
  margin: 1em;
}

.colophon {
  font-size: 14pt;
}
.colophon a {
  color: brown;
}
.colophon a:hover {
  filter: brightness(150%);
}